table, th, td {
    border: 2px solid;
    border-collapse: collapse;
}

table {
    border: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

th, td {
    padding: 5px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}