h1{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
  border: 5px solid black;
  border-collapse: collapse;
  text-align: center;
}
td,th{
  border:1px solid black;
}
img{
  width: 250px;
}
.a{
  font-size: 100px;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.pizza {
  margin-left: auto;
  margin-right: auto;
}